.sosConfirm {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    min-height: 100vh;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgb(255, 202, 202) 0%,
      rgb(255, 202, 202) 0.01%,
      rgb(199, 32, 32) 31.25%,
      rgb(147.33, 34.93, 47.94) 67.71%,
      rgb(176.11, 79.58, 137.5) 100%
    );
    background-color: rgba(255, 255, 255, 1);
  }
  
  
  .confirmContainer {
    border-radius: 10px;
   
  }
 .sosConfirm  .senderChoices{
    margin-left: 10px;
  }
  .sosConfirm .msg{
    color: white;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    padding-bottom:30% ;
  }
  .sosTitle{
    font-weight: 700;
  }
  
 .sosConfirm .sosDecs{
    color: white;
    text-align: center;
    margin-top: 30%;
    width: 70%;
    margin-left: 15%;
    font-weight: 500;
  }

  .sosConfirm .sosButton {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background:radial-gradient(50% 50% at 50% 50%, #FFF 32.81%, rgba(255, 255, 255, 0.41) 100%);
    animation: pulse2 1.5s infinite;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    color: #C72020;
    position: relative;
  }
  
  .sosConfirm .sosTitle {
    font-size: 36px;
  }

  
  .sosConfirm .sosButton::before,
  .sosConfirm .sosButton::after {
    content: '';
    position: absolute;
    border: 2px dotted white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: pulse 1.5s infinite;
    top:-20px;
    left:-20px;
}

.sosConfirm .sosButton::before {
    animation-delay: -0.5s; /* Adjust delay to create a circular animation pattern */
}

.sosConfirm .sosButton::after {
    animation-delay: -1s; /* Adjust delay to create a circular animation pattern */
}

.sosConfirm .sosTitle {
    font-size: 36px;
}

@keyframes pulse2 {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 0.6;
    }
}