* {
  margin: 0;
  padding: 0;
}

.navContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;

}

.listItems {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 25px 25px 8px 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item {
  text-align: center;
  color: rgb(100, 98, 98);
  font-size: 10px;
  transition: all 1s ease-in-out;
  opacity: 0.5;
  margin-bottom: 6px;
}

.item p {
  margin-top: -2px;
  font-weight: 500;
  color: rgb(127, 124, 124);
}

.listItems a {
  text-decoration: none;
  /* Remove underline from links */
}

.item.active {
  color: #C72020;
  opacity: 1;
  transition: all 1s ease-in-out;
}